body {
  margin: 0;
}

.backImage {
  width: 100%;
  height: 1024px;
  background: url("backgimg.png") #c4c4c4 no-repeat fixed center;
  background-size: cover;
}

.gameFinderWhiteLogo {
  width: 293px;
  height: 37px;
  position: fixed;
  margin-top: 44px;
  margin-left: 53px;
}

.bgBox {
  position: absolute;
  width: 462px;
  height: 702px;
  left: 878px;
  top: 178px;
  background-blend-mode: overlay;
  background: #0e0e11;
  /*  background: #303030; */
  opacity: 90%;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.topText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeText {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
}

.loginText {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 8px;
}

.inputRectangle {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 32px;
}

.inputMail,
.inputPass {
  align-items: center;
  color: #939393;
  padding-left: 16px;
  width: 100%;
  height: 47px;
  box-sizing: border-box;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
}

.inputMail:focus,
.inputPass:focus {
  outline: none;
}

.inputMail {
  margin-bottom: 16px;
}

.passwordContainer {
  display: flex;
  justify-content: flex-end;
}

.eyeSvgContainer {
  position: fixed;
  margin-top: 16px;
  margin-right: 9px;
  cursor: pointer;
}

.cbfp {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 24px;
}

.cb {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.check {
  width: 20px;
  height: 20px;
  border: 1.5px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  appearance: none;
  margin: 0;
  margin-right: 16px;
  cursor: pointer;
}

.check:checked {
  appearance: none;
  background: url("vector-cb.png") no-repeat;
  background-size: 12px;
  background-position: 2.8px 3px;
  color: #ffffff;
  background-color: #36b972;
  border-color: #36b972;
  border-radius: 4px;
}

.fp {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #5fe19b;
  text-decoration: none;
}

.lgb {
  width: 100%;
  height: 47px;
  background: #4cc986;
  border-radius: 6px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.lgb:hover {
  opacity: 40%;
}

.registerNow {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 24px;
}

.nry {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #ffffff;
  margin-right: 5.2px;
}

.rn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #5fe19b;
}

.lineOrLine {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.line {
  background-color: #868688;
  height: 1px;
  width: 100%;
  border: none;
}

.orText {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-right: 25px;
  margin-left: 25px;
}

.socialMediaButtons {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
}

.socialMediaButtons:hover {
  opacity: 40%;
}

.socialMediaButtons > svg {
  display: flex;
  justify-content: flex-start;
  margin-right: 14px;
  padding-left: 16.8%;
}

.textSocialMediaButtons {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.cir1,
.cir2 {
  background-color: #515151;
  height: 43px;
  width: 43px;
  border: none;
  border-radius: 100%;
  opacity: 80%;
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cir1 {
  left: 32px;
}

.cir2 {
  right: 32px;
}

.cir1,
.cir2 {
  position: fixed;
}

.carrousel {
  background-color: #515151;
  height: 27px;
  width: 120px;
  border-radius: 18px;
  opacity: 80%;
  position: fixed;
  left: 50%;
  bottom: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 16px;
  padding-right: 16px;
}

.pointActive,
.pointInactive {
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
}

.pointInactive {
  opacity: 25%;
}
